/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Space+Mono&display=swap');

*,
*::before,
::after {
    box-sizing: border-box;
    font-family: Space Mono, Lato;
    padding: 0;
    margin: 0;
}

/* base colors defined as variables */
:root {
    --color-base: #346beb;
    --color-btn: #5C88EF;
    --color-incorrect-ans: #d41111;
    --color-correct-ans: #1fc461;
}




body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}

#bg-img {
    background-position-x: -250px;
}

/* green color for correct answers */
body.correct {
    background-color: var(--color-correct-ans);
}

/* red color for incorrect answers */
body.incorrect {
    background-color: var(--color-incorrect-ans);
}

.timer-container {
    background-color: #00000000;
    color: #53e9eb;
    font-size: 3rem;
}

.score-area {
    color: #53e9eb;
    text-align: center;
    font-size: 1.3rem;
}

/* main div */
.main-div {
    position: absolute;
    width: 800px;
    max-width: 80%;
    color: #fefefe;
    background-color: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

#question-card {
    text-align: center;
}

/* answer buttons */
.buttons-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

/* all buttons */
.btn {
    background-color: var(--color-btn);
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}

/* hover effect over buttons */
.btn:hover {
    border-color: #000;
}

.btn.correct {
    background-color: var(--color-correct-ans);
    color: #000;
}

.btn.incorrect {
    background-color: var(--color-incorrect-ans);
}

.start-btn,
.next.btn,
.rules-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 3px;
}

.control-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
.close-rules-modal,
.close-congrats-modal,
.close-fail-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-rules-modal:hover,
.close-rules-modal:focus,
.close-congrats-modal:hover,
.close-congrats-modal:focus,
.close-fail-modal:hover,
  .close-fail-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Rocket ship */
  .rocket {
    height: 9rem;
    width: 7rem;
    bottom: 65px;
    left: 18px;
    position: absolute;
    animation: rocket-launch;
    
    animation-duration: 15s;
  }

  @keyframes rocket-launch {
    0%{bottom: 65px;
    transition-timing-function: cubic-bezier(.2,1.66,.9,1.39);}
    20%{transform: rotate(20deg);}
    100%{bottom:2000px;}
    }

    @media screen and (min-width: 390px) {
        .score-area {
            color: #53e9eb;
            text-align: center;
            font-size: 1.3rem;
            background-color: #00000082;
            border-radius: 5px;
        }

        .timer-container {
            left: 32%;
        }
    }

    @media screen and (min-width: 750px) {
        .timer-container {
            display: flex;
            justify-content: flex-end;
            position: revert;
        }

        .score-area {
            top: 2%;
            left: 2%;
            font-size: 1.3rem;
            background-color: #00000000;
           
        }
    }

@media screen and (min-width: 880px) {
    #bg-img {
        background-position-x: unset;
    }
        
    /* Rocket ship */
    .rocket {
        left: 250px;
    }
}

@media screen and (min-width: 950px) {}

@media screen and (min-width: 1085px) {
    /* Rocket ship */
    .rocket {
        left: 22.75vw;
    }
    }
    
@media screen and (min-width: 1200px) {}

.disable {
    pointer-events: none;
    }