/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Space+Mono&display=swap');

*,
*::before,
::after {
    box-sizing: border-box;
    font-family: Space Mono, Lato;
    padding: 0;
    margin: 0;
}

/* base colors defined as variables */
:root {
    --color-base: #346beb;
    --color-btn: #5C88EF;
    --color-incorrect-ans: #d41111;
    --color-correct-ans: #1fc461;
}




body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}

#homepage-body {
    background: url(/assets/images/space-bg.jpg) no-repeat;
    background-size: cover;
    justify-content: unset;
}

#homepage-rocket {
    width: 59%;
    animation: shake 0.75s infinite;
}

#homepage-header {
    font-size: 4.2em;
    color: #00fffa;
    text-shadow: 3px 3px #0030ff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    padding: 60px 60px 26px 60px;
}
    
#begin-mission-link {
    font-size: 1.1em;
    color: #00fffa;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 30px;
    box-shadow: 0 0 50px;
    text-decoration: none;
    margin-top: 2.5em;
}

#begin-mission-link:hover {
    box-shadow: 0 0 70px #00fffa;
    transform: scale(1.05);
    background-color: rgba(50, 50, 50, 1);
}

#bg-img {
    background-position-x: -250px;
}

/* green color for correct answers */
body.correct {
    background-color: var(--color-correct-ans);
}

/* red color for incorrect answers */
body.incorrect {
    background-color: var(--color-incorrect-ans);
}

.timer-container {
    background-color: rgba(50, 50, 50, 0.7);
    text-shadow: 3px 3px #000;
    color: #53e9eb;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 38px;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}

#reset-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    color: #00f7fe;
}

.score-area {
    color: #53e9eb;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(50, 50, 50, 0.75);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px;
}

/* main div */
.main-div {
    position: absolute;
    width: 800px;
    max-width: 80%;
    color: #fefefe;
    background-color: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

#question-card {
    text-align: center;
}

/* answer buttons */
.buttons-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

/* all buttons */
.btn {
    background-color: var(--color-btn);
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}

/* hover effect over buttons */
.btn:hover {
    border-color: #000;
}

.btn.correct {
    background-color: var(--color-correct-ans);
    color: #000;
}

.btn.incorrect {
    background-color: var(--color-incorrect-ans);
}

.start-btn,
.next.btn,
.rules-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 3px;
}

.control-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#rules-modal {
    margin: auto;
    color: #00f7fe;
    background: black;
    box-shadow: 0 0 150px;
    border-radius: 10px;
    padding: 1em 1em 1em 1.5em;
}

#rules-modal h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 118%;
    padding-bottom: 8px;
}

#rules-modal ul {
    padding-left: 10px;
}

#rules-modal p {
    text-align: center;
    padding: 1em 1em 1em 0em;
    font-size: 118%;
}

#congrats-modal {
    box-shadow: 0 0 150px #0f0;
    margin: auto;
    color: #00f7fe;
    background: black;
    border-radius: 10px;
    padding: 1em;
}

#congrats-modal h1,
#fail-modal h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 162%;
    padding-bottom: 10px;
}

#congrats-modal p,
#fail-modal p {
    text-align: center;
    font-size: 118%;
    padding-bottom: 1em;
}

#fail-modal {
    box-shadow: 0 0 150px #f00;
    margin: auto;
    color: #00f7fe;
    background: black;
    border-radius: 10px;
    padding: 1em;
}

/* buttons at bottom of modals */
#try-again, 
#play-again {
    padding: 10px 15px;
    font-size: 100%;
    background-color: #00f7fe;
    text-transform: uppercase;
}

/* hover effect on modal buttons */
#try-again:hover,
#play-again:hover {
    background-color: #0090fee6;
    transform: scale(1.03);
    color: #fff;
    box-shadow: 0px 0px 10px aqua;
}

/* centers try-again & play-again buttons on modals */
.modal-btn-align-div {
    text-align: center;
}

/* The Close Button */
#close-rules-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -19px;
    right: -8px;
}

#close-rules-btn:hover,
#close-rules-btn:focus {
    color: #00f7fe;
    text-decoration: none;
    cursor: pointer;
  }

.modal::backdrop {
    background-color: rgba(43, 0, 255, 0.30);
  }

    height: 9rem;
    width: 7rem;
    bottom: 65px;
    left: 18px;
    position: absolute;
    animation: rocket-launch;
    
#explosion {
    bottom: 20px;
    left: -20px;
    position: absolute;
}

#fire {
    bottom: 48px;
    left: -20px;
    height: 14em;
    position: absolute;
  }

  @keyframes rocket-launch {
    0%{bottom: 65px;
    transition-timing-function: cubic-bezier(.2,1.66,.9,1.39);}
    20%{transform: rotate(20deg);}
    100%{bottom:2000px;}
    }

/* prevents answer buttons being clicked once an answer has been selected */
.disable {
    pointer-events: none;
}

/* -------------------------------------------------------------------- */
/* media queries */
/* min-width 390px */
@media screen and (min-width: 390px) {
    /* raises the content on the homepage */
    #homepage-header {
        padding: 30px 60px 26px 60px;
    }
}

/* min-width 480px */
@media screen and (min-width: 480px){
    /* sizing and alignment of header */
    #homepage-header {
        padding: 30px 60px 26px 60px;
        text-align: center;
    }

    /* reduces rocket size for sizing */
    #homepage-rocket {
        width: 46%;
    }

   /* increase rules modal header size */
    #rules-modal h1 {
        font-size: 160%;
    }

    /* rules modal list font size */
    #rules-modal ul {
        font-size: 120%;
    }

    /* 'good luck' font size */
    #rules-modal p {
        font-size: 160%;
    }
}

/* min-width 750px */
@media screen and (min-width: 750px) {
    /* reduces sice of rocket to improve spacing */
    #homepage-rocket {
        width: 37%;
    }

    #rules-modal h1 {
        font-size: 200%;
    }

    #rules-modal ul {
        font-size: 125%;
        line-height: 1.75em;
    }

    #rules-modal p {
        font-size: 200%;
    }

    #congrats-modal h1, #fail-modal h1 {
        font-size: 250%;
    }

    #congrats-modal p, 
    #fail-modal p {
        font-size: 142%;
    }

    #try-again, 
    #play-again {
        /* margin-left: 17.5em; */
    }
}

/* min-width 880px */
@media screen and (min-width: 880px) {
    /* increases font-size of header */
    #homepage-header {
        font-size: 4.7em;
    }

    /* reduces size of rocket for spacing */
    #homepage-rocket {
        width: 32%;
    }

    #bg-img {
        background-position-x: unset;
    }

    /* Rocket ship */
    .rocket {
        left: 250px;
    }

    /* align position of fire with rocket */
    #fire {
        bottom: 60px;
        left: 215px;
    }

    /* align position of explosion with rocket */
    #explosion {
        bottom: 60px;
        left: 215px;
    }
}

/* min-width 950px */
@media screen and (min-width: 950px) {
   /* reduces rocket size for spacing */
    #homepage-rocket {
        width: 29%;
    }
}

/* min-width 1085px */
@media screen and (min-width: 1085px) {
    /* Rocket ship */
    .rocket {
        left: 22.75vw;
    }

    /* rules modal header and spacing */
    #rules-modal h1 {
        font-size: 250%;
        padding-bottom: 30px;
    }
}

/* min-width 1200px */
@media screen and (min-width: 1200px) {
    /* increases header size */
    #homepage-header {
        font-size: 6.7em;
        text-shadow: 6px 6px #0030ff;
    }
    
    /* reduces rocket size for spacing */
    #homepage-rocket {
        width: 17%;
    }

    /* rocket positioning on quiz page */
    .rocket {
        bottom: 60px;
        left: 22.4vw;
    }

    /* align position of explosion with rocket */
    #explosion {
        left: 240px;
    }

    /* align position of fire with rocket */
    #fire {
        left: 240px;
    }
}