/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Space+Mono&display=swap');

*, *::before, ::after {
    box-sizing: border-box;
    font-family: Space Mono, Lato;
}

/* base colors defined as variables */
:root {
    --color-base: #346beb;
    --color-btn: #5C88EF;
    --color-incorrect-ans: #d41111;
    --color-correct-ans: #1fc461;
}

body {
    background-color: var(--color-base);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; 
}

/* green color for correct answers */
body.correct {
    background-color: var(--color-correct-ans);
}

/* red color for incorrect answers */
body.incorrect {
    background-color: var(--color-incorrect-ans);
}

/* main div */
.main-div {
    width: 800px;
    max-width: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* answer buttons */
.buttons-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

/* all buttons */
.btn {
    background-color: var(--color-btn);
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}

/* hover effect over buttons */
.btn:hover {
    border-color: #000;
}

.btn.correct {
    background-color: var(--color-correct-ans);
    color: #000;
}

.btn.incorrect {
    background-color: var(--color-incorrect-ans);
}

.start-btn, .next.btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.control-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}